-
  const menuLinks = [
    {
      name:"Home", 
      icon:"home", 
      link:"index.html"
    },
    {
      name:"About Us", 
      icon:"circle-info", 
      link:"#", 
      submenu: [
        {name:"Our Pastor", link:"our-pastor.html"},
        {name:"The Deacons", link:"meet-the-deacons.html"}
      ]
    },
    {
      name:"Gallery", 
      icon:"images", 
      link:"#", 
      submenu: [
        {name:"Images", link:"images.html"},
        {name:"Videos", link:"videos.html"},
        {name:"Sermons", link:"sermons.html"}
      ]
    },
    {
      name:"Events", 
      icon:"bullhorn", 
      link:"#", 
      submenu: [
        // {name:"January", link:"january-events.html"}, (use // if the month is gone and only use 3 months of pages else the dropdown is overfilled)
        // {name:"Febuary", link:"febuary-events.html"},
        // {name:"March", link:"march-events.html"},
        // {name:"April", link:"april-events.html"},
        // {name:"May", link:"may-events.html"},
        // {name:"June", link:"june-events.html"},
        // {name:"July", link:"july-events.html"},
        // {name:"August", link:"august-events.html"},
        // {name:"September", link:"september-events.html"},
        {name:"October", link:"october-events.html"},
        {name:"November", link:"november-events.html"},
        {name:"December", link:"december-events.html"},
      ]
    },
    {
      name:"Calendar", 
      icon:"calendar-days", 
      link:"calendar.html"
    },
    {
      name:"Resources", 
      icon:"folder-open", 
      link:"resources.html"
    },
    {
      name:"Devotional", 
      icon:"book-open", 
      link:"devotional.html"
    },
    {
      name:"Vision & Christian Living", 
      icon:"lightbulb", 
      link:"vision-and-christian-living.html"
    },
    {
      name:"Links", 
      icon:"link", 
      link:"links.html"
    }
  ]
aside
  .sidepanel-header
    a.navbar-brand(href="#") Bideford Baptist Church
    button.toggleNav.fa-solid.fa-bars
  nav.navbar
    label.searchbar
      .icon.fa-solid.fa-magnifying-glass
      input(type="text" placeholder="Search...")
    ul.mainmenu
      each link in menuLinks
        - const hasSub = link.submenu ? 'has-submenu' : ''
        li(class=hasSub)
          a(href=link.link)
            i.fa-solid(class=`fa-${link.icon}`)
            span #{link.name}
          if link.submenu
            ul.submenu
              each sublink in link.submenu
                li
                  a(href=sublink.link) #{sublink.name}
    a.bottom-link(href="contact-us.html") Contact Us
